<button
  [attr.data-variant]="variant$$()"
  [disabled]="disabled$$() || loading$$()"
  [class.is-loading]="loading$$()"
  [attr.aria-busy]="loading$$()"
  [class.full-width]="fullWidth$$()"
  (click)="handleClick()"
  [attr.type]="type$$()"
>

  @if (loading$$()) {
    <span class="spinner" aria-hidden="true"></span>
    <!-- TODO: Use the spinner from the material icons -->
  } @else if (icon$$()) {
    <span class="material-symbols-outlined icon">
      {{ icon$$() }}
    </span>
  }

  <span>
    <ng-content />
  </span>

</button>
