@use 'styles/index' as *;
@use 'styles/components/widget' as *;

.widget--advert {
  @include blank-widget;
  min-height: 300px;
  span {
    background-color: white;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 0.1rem;
    color: var(--color-text);
  }
}
