@use '../index' as *;

@mixin widget-style {
  background-color: var(--secondary);
  color: var(--on-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  transition: background-color 0.3s ease;
  width: 100%;

  .eyebrow {
    @include eyebrow;
  }

  .date {
    @include date-text;
  }

  footer {
    margin-top: 1rem;
    .btn {
      @include button-primary;
    }
  }

  h2 {
    @include heading(2);
  }

  // Optional container query tinting
  // @container (min-width: 400px) {
  //   background-color: color-mix(
  //     in srgb,
  //     var(--background) 90%,
  //     var(--color-secondary) 10%
  //   );
  // }

  // @container (min-width: 700px) {
  //   background-color: color-mix(
  //     in srgb,
  //     var(--background) 85%,
  //     var(--text) 15%
  //   );
  // }
}

@mixin blank-widget {
  background-color: color-mix(in srgb, var(--background) 85%, var(--secondary) 15%);
  border-radius: 0.5rem;
  min-height: 150px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    @include heading(2);
  }
}
