<section class="check-in-container">
  <h1>Check in</h1>

    <video #video autoplay muted playsinline></video>
    <app-button (onClick)="capturePhoto()" [disabled$$]="loading$$()">📸 Capture photo</app-button>


    <!-- @if (!photoDataUrl()) {
      <video #video autoplay muted playsinline width="300" class="camera-preview"></video>
      <app-button (onClick)="capturePhoto()">Capture</app-button>
    } @else {
      <img [src]="photoDataUrl()!" alt="Captured" width="300" />
      <app-button (onClick)="confirmPhoto()">Confirm</app-button>
      <app-button (onClick)="retakePhoto()">Retake</app-button>
    } -->

</section>
