<div class="login">
  <h1>Login</h1>




  <!-- <form (ngSubmit)="onLogin()">
    <label for="identifier">Email</label>
    <input id="identifier" name="identifier" [(ngModel)]="identifier" required />

    <label for="password">Password</label>
    <input id="password" name="password" [(ngModel)]="password" type="password" required />

    <app-button
      [fullWidth$$]="true"
      [icon$$]="'login'"
      [type$$]="'submit'"
      [variant$$]="'primary'"
    >
      Login
    </app-button>
  </form> -->
</div>
