<div class="toast-container">
  @for (toast of toasts(); track toast.id) {
    <div [ngClass]="toastClass(toast)" class="toast">
      <app-icon 
        [name]="getIconName(toast.type)"
        size="sm"
        [filled]="true"
        weight="medium"
        customClass="toast-icon" />
      <div class="toast-message">{{ toast.message }}</div>
      <app-icon 
        name="close"
        size="sm"
        [interactive]="true"
        customClass="toast-dismiss-icon"
        (click)="dismiss(toast.id)" />
    </div>
  }
